:root{
    --default-font:"Poppins", sans-serif;
    --secondary-font: "Pacifico", cursive;
    --primary-font: "Playfair Display", serif;
    --default-color: black;
    --primary-color: rgb(17, 17, 73);
    --light-color: rgba(255, 255, 255, 0.862);
}

body{
    font-family: var(--default-font);
    font-size: 18px;
    
}

h1, h2, h3,h4, h5,h6{
    font-family: var(--primary-font);
    font-style: normal;  
}
h1{
    margin: 30px 0px 8px 10px;
    font-size: 64px;
    font-weight: bold;
}
h2{
    font-size:42px;
    font-weight: bold;
}
h3{
    font-size: 42px;
    font-weight: bold;
    margin: 48px 0px 48px;
}
.about-h3{
    font-size: 30px;
    margin: 0px 0px 30px;
}
h4{
    font-weight: bold;
}
nav{
    background: var(--light-color) ; 
    margin: 0 20px 0 20px; 
   
}

nav a{
    text-decoration: none;
    position: relative;
   font-size: 18px;
    font-family: var(--default-font);
}
.vector-logo{
        position: relative;        
        border-radius: 50%;
        border: 1px solid var(--default-color);
        margin: 5px;
    }

.bounce{
    font-family: var(--secondary-font);
    font-size: 90px;
    color: rgb(233, 254, 247);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    animation-name: bounce;
    animation-iteration-count: infinite;
}
   
.text-content{
    padding: 40px 60px;
    color: var(--primary-color); 
}
.text-content p{
    line-height: 2;
}
.text-middle{
    font-family: var(--primary-font);
}
.text-about{
    margin: 48px 0px 0px;
}
.contact-box{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
    margin: 0px 40px 0px 40px;
}
.contact-box h3{
    margin: 0px;
}

footer .social-links a{
    margin: 0 20px;
    padding: 10px 14px;
    color: black;
    background: var(--light-color);
    border-radius: 50%;
    font-size: 30px;
}


.btn-branding{
    color: var(--light-color);
    background:var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 5px;
}
.btn-branding:hover{
    color: var(--primary-color);
    background: var(--light-color);
    border: 1px solid var(--primary-color);
    transform: translateY(-3px);
    
}

.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.5);
}
.coder{
    font-size: 12px;
    text-decoration: wavy;
}

ul{
    margin: 10px;
}
li{
    display: inline;
    list-style: none;
    margin: 10px 10px;
    color: var(--primary-color);
    transform: translateY(-2px);
}


li:hover{
    color: black;
    
}
.active{
    color:black;
}

@keyframes bounce{
  
    
    0% ,
    5%,
    10% ,
    15%,
    20% {transform: translate(0px,-30px);}
    30% {transform: translate(0px,0px);}
    40% {transform: translate(0px,-30px);}
    
    50%,
    60%,
    70% {transform: translate(0px,-50px);}  
}



.animate{
    animation-duration: 3s;

}
.animate--slow{
    animation-duration: 2s;
}


@media (max-width: 900px){
 h1{
    margin: 30px 0px 8px 10px;
    font-size: 40px;
    font-weight: bold;
    }
h2{
    margin-top: 10px;
    font-size:26px;
    font-weight: bold;
}

h3{
    font-size: 26px;
    margin: 20px 0px 20px;
}
.about-h3{
    font-size: 18px;
    margin: 0px 0px 20px;
    font-weight: bold;
}
p{
    font-size: 14px;
    line-height: 2;
}
nav{
    margin: 0px; 
}
nav a{
   font-size: 14px;
   text-align: center;
}
.container{
    text-align: center;
}

.btn-branding{
 
    font-size: 14px;
    line-height: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 0 25px!important;
    
}

.text-content{
    padding: 0px 20px 0px 20px;
    text-align: center; 
}
.text-content h3{
    line-height: 1;
    font-size: 30px;
    margin: 0px 0px 20px 10px!important;
}
.text-content p{
    line-height: 2;
    font-size: 14px;
    margin: 18px!important;
}
.text-middle{
    font-size: 16px;
    margin: 10px 20px 40px;
}
.text-about{
    margin: 20px 0px 0px;
}
li{
    margin: 05px 05px;
}
.contact-box{
    text-align: center;
}
}